doctype html
html
  head
    title Portal: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
    link(rel='stylesheet', href='/stylesheets/ripples.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css')



  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='javascript:void(0)') Portal
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li
              a(href='/users/login') Login
            li
              a(href='/users/register') Register
          form.navbar-form.navbar-left
            .form-group
              input.form-control.col-md-8(type='text', placeholder='Search')
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                | Options
                b.caret
              ul.dropdown-menu
                li
                  a(href='javascript:void(0)') Profile
                li
                  a(href='javascript:void(0)') Settings
                li.divider
                li
                  a(href='/users/logout') Logout
    
  
    nav.navbar.navbar-default.navbar-fixed-top.sidebar(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Brand
        // Collect the nav links, forms, and other content for toggling
        #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                | Home
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
            li
              a(href='#')
                | Profile
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
            li
              a(href='#')
                | Messages
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Settings 
                span.caret
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cog(style='font-size:16px;')
              ul.dropdown-menu.forAnimate(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link

    !=messages()
    block content


  script(src='../javascripts/jquery.min.js')
  script(src='../javascripts/ripples.js')
  script(src='../javascripts/material.js')
  script(src='../javascripts/script.js')
  script(src='../javascripts/bootstrap.js')
  script(src='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js')
  script
    | $.material.init()