body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Login form */

.login{
	margin-top:130px;
}

.login .head{
	text-align: center;
}

.register{
	margin-top: 60px;
}

.register .head{
	text-align: center;
}
